.testimonials__testimonial {
    width: 100% !important;
}

.swiper-slide {
    display: flex !important;
}

.swiper-slide.dev-process-slide {
    height: 36em !important;
}


.swiper-3d .swiper-slide-shadow {
    background: rgb(66 59 176 / 88%) !important;
}

