.testimonials__testimonial {
    // width: 100% !important;
}

.swiper-slide {
    display: flex !important;
}

.swiper-slide.dev-process-slide {
    height: 36em !important;
}


.swiper-3d .swiper-slide-shadow {
    background: rgb(66 59 176 / 88%) !important;
}

.swiper-slide.webflow-design.swiper-slide-visible.swiper-slide-active {
    opacity: 1 !important;
}

.swiper-slide.webflow-design {
    opacity: 0 !important;
}

@media screen and (max-width: 480px) 
{
    .slider-arrow
    {
        color: #fff !important;

        &.swiper-button-disabled
        {
            color: #8780f3 !important
        }

        &:hover
        {
            color: #fff !important;
        }

        &.swiper-button-disabled:hover
        {
            color: #8780f3 !important
        }
    }
}