.loader
{
  height: 100%;
}

::selection
{
  background-color: #7870F1;
  color: white;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: transparent;
}

.faq_toggle.open .faq_icon {
	transform: rotate(90deg);
}

[text-line] div {
  display: inline-block !important;
}

/*---- clutch label ----*/ 

.footer__clutch {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.95rem;
  margin-left: -2.1rem;
  scale: 0.7;
}

.footer__clutch iframe {
  width: 11.7rem !important;
}

/*------------------------*/ 

/*---- About page > Team Block ----*/
@media screen and (min-width: 992px) {
  .team__card:nth-child(3n+1) {
    margin-top: 3.625rem;
  }
  
  .team__card:nth-child(3n+2) {
    margin-top: 8.4375rem;
  }
}

@media screen and (min-width: 768px) {
  .team__card:nth-child(3n+1) {
    margin-top: 1.875rem;
  }
  
  .team__card:nth-child(3n+2) {
    margin-top: 4.25rem;
  }
}

/*------------------------*/ 

.blog-post__nav-item {
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    color: #5349ee;
  }

  &.is--active {
    color: #303030;
    text-decoration: underline;

    &:hover {
      color: #5349ee;
    }
  }
}


.w-richtext figure + p {
  text-align: center;

  & a {
    color: #303030;
    opacity: .5;
  }
}
