main
{
  visibility: hidden;
}

.loader
{
  display: block;
}

.footer__clutch {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 0.95rem;
}

.footer__clutch iframe {
  width: 12rem;
  height: 2.5rem !important;
}

::selection
{
  background-color: #7870F1;
  color: white;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: transparent;
}