label.error 
{
    font-size: 0.8rem;
    color: black;
    width: 100%;
    font-weight: 400;
    position: absolute;
    bottom: 18%;
    right: 0;
    text-align: right;
}

.contact-form__button.disabled {
    pointer-events: none;
    filter: grayscale(100%) brightness(0.3);
}